{% extends "facer/base.html" %}

{% block title%}Добавить хост{% endblock %}

{% block hosts_menu %}
    {% for machine in machine_list %}
        <li><a href="{% url 'facer:detail' machine.id %}">{{ machine.ip_address }}</a></li>
    {% endfor %}
{% endblock %}

{% block content %}
    <form action="{% url 'facer:machine_add' %}" method="post">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Добавить хост</h1>
                </div>

                {% csrf_token %}

                <div class="col-sm-2">
                    <label for="ip-address">IP адрес: </label>
                </div>
                <div class="col-sm-10">
                    <input type="text" name="ip_addr" value="{{ ip_address }}" placeholder="10.13.1.1" maxlength="16"
                           pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}$" required>
                </div>

                <div class="col-sm-2">
                    <label for="description">Описание: </label>
                </div>
                <div class="col-sm-10">
                    <input type="text" name="descr" value="{{ description }}" placeholder="k2-left-test-machine" maxlength="200">
                </div>

                <div class="col-sm-2">
                    <label for="community" >SNMP Community: </label>
                </div>
                <div class="col-sm-10">
                    <input type="text" name="community" value="{{ community_name }}" placeholder="community" maxlength="32" required>
                </div>

                <div class="col-sm-2">
                    <label for="remote_as" >Remote-as: </label>
                </div>
                <div class="col-sm-10">
                    <input type="number" name="remote_as" value="{{ remote_as }}" placeholder="remote_as" min="1" max="65534" required>
                </div>

                <div class="col-sm-2">
                    <label for="login" >Логин: </label>
                </div>
                <div class="col-sm-10">
                    <input type="text" name="login" value="{{ login }}" placeholder="login" maxlength="64" required>
                </div>

                <div class="col-sm-2">
                    <label for="password" >Пароль: </label>
                </div>
                <div class="col-sm-10">
                    <input type="password" name="password" maxlength="64">
                </div>

                <div class="col-sm-2">
                    <label for="enable_password" >Пароль enable: </label>
                </div>
                <div class="col-sm-10">
                    <input type="password" name="enable_password" maxlength="64">
                </div>

                <div class="col-sm-12">
                    <input type="submit" name="submit" value="Добавить">
                </div>

                <div class="col-sm-12">
                    <h4>{% if error %}<strong>{{ error | safe }}</strong>{% endif %}</h4>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
